/* Custom CSS for event colors */
.blue {
  background-color: #2a3f54; /* Blue */
  color: white;
}

.red {
  background-color: red; /* Red */
  color: white;
}

.purple {
  background-color: purple; /* Purple */
  color: white;
}

.calendar-day {
  cursor: pointer;
  text-align: center;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}
